$yume-green: #40AF40;
$yume-white-green: #EEFFEE;
$yume-white-green2: #DDFFDD;
$red: #E20E20;
$orange: #E89244;
$gray: #C4C4C4;
$black: #000000;
$white: #FFFFFF;

:export {
  yumeGreen: $yume-green;
  yumeWhiteGreen: $yume-white-green;
  yumeWhiteGreen2: $yume-white-green2;
  red: $red;
  orange: $orange;
  gray: $gray;
  black: $black;
  white: $white;
}
