@use '../../../styles/mixin.scss';
@use '../../../styles/variables.module.scss' as variables;

.date_text {
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 700;
  @include mixin.pc {
    font-size: 1.5rem;
  }
}
